# EditorConfig is awesome
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2    # Match Google Java Format

[*.{java,kotlin}]
indent_size = 2    # Explicit for Java/Kotlin files

[*.{yaml,yml}]
indent_size = 2    # Align with general style

[*.{diff,md}]
trim_trailing_whitespace = false

[*.txt]
indent_style = tab
